<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="sweet_home" default="$(optenv HOME)" />
    <arg name="stp" default="static_transform_publisher" />

    <param name="EPSG" value="5179" />

    <include file="$(find model_publisher)/launch/genesis.launch" />
<!--                                                                     x           y          z         yaw       pitch       roll       parent      child      -->
    <node pkg="tf2_ros" type="$(arg stp)" name="base2ego" args=" 0        0.0        0.0        0.0         0.0         0.0        /base_link   /ego_frame    "  />
    <!-- <node pkg="tf2_ros" type="$(arg stp)" name="base2center" args=" 1.10       0.0        1.78        -1.5708         0         0        /base_link   /center    "  /> -->
    <!-- <node pkg="tf2_ros" type="$(arg stp)" name="center2left" args=" -0.102       0.605        -0.257        1.58935025702         -0.00279252688         -1.55421574165        center   left    "  /> -->
    <!-- <node pkg="tf2_ros" type="$(arg stp)" name="center2left" args=" -0.102       0.605        -0.257         0        0        0         /center   /right    "  /> -->

    <node pkg="rviz_filter"                     type="rviz_filter_node"                 name="rviz_filter_node"             respawn="true" />
    <!-- 시스템 Diagnostic 정보 -->
    <node pkg="cpt7_gps_diagnostic"             type="cpt7_gps_diagnostic_node"           name="cpt7_gps_diagnostic_node"               respawn="true" />
    <node pkg="lidar_diagnostic"             type="lidar_diagnostic_node"           name="lidar_diagnostic_node"               respawn="true" />
    <node pkg="radar_diagnostic"             type="radar_diagnostic_node"           name="radar_diagnostic_node"               respawn="true" />
    <node pkg="v2x_diagnostic"             type="v2x_diagnostic_node"           name="v2x_diagnostic_node"               respawn="true" />
    <node pkg="hmi_diagnostic"             type="hmi_diagnostic_node"           name="hmi_diagnostic_node"               respawn="true" />
    <node pkg="vcu_diagnostic"             type="vcu_diagnostic_node"           name="vcu_diagnostic_node"               respawn="true" />
    <node pkg="cam_diagnostic"             type="cam_diagnostic_node"           name="cam_diagnostic_node"               respawn="true" />
    <node pkg="ipc_diagnostic"             type="ipc_diagnostic_node"           name="ipc_diagnostic_node"               respawn="true" />

    <node pkg="stat_display"                    type="stat_display_node"            name="stat_display_node"                respawn="true" />

    <node pkg="sound_play"                    type="soundplay_node.py"            name="soundplay_node"                respawn="true" />

    <!-- 사운드 잠금 워치독: 음소거/음량변경/프로파일 off 를 1초 주기로 원복 (음량 40% 고정, 무음 방지) -->
    <node pkg="stat_display"                  type="audio_watchdog.sh"            name="audio_watchdog"                respawn="true" output="screen" />

    <node pkg="can"                    type="diagnostic_CAN_writer"            name="diagnostic_CAN_writer_node"                respawn="true" />    

    <node pkg="gps_system_localizer"                    type="lanelet_marker.py"            name="lane_marker_node"                respawn="true" >
        <param name="SHP_MAP_PATH" value="$(find gps_system_localizer)/src/shp_map/senario_shp_20260623" />
    </node>

    <!-- 블랙박스: Take_Over_Request 트리거 시 [이전 10s, 이후 2s] 자동 저장 (자율주행 ON 한정) -->
    <!-- 블랙박스 비활성화 (요청에 의해 주석처리)
    <node pkg="pyqt_hmi"                    type="blackbox_recorder.py"            name="blackbox_recorder"                respawn="true" output="screen" >
        <param name="pre_seconds"  value="10.0" />
        <param name="post_seconds" value="2.0" />
        <param name="output_dir"   value="~/bag_data/blackbox" />
    </node>
    -->

</launch>