<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="sweet_home" default="$(optenv HOME)" />
    <!-- 시나리오 선택: mat 지도와 shp 지도를 분리 지정 -->
    <!-- roslaunch launch/katech_test.launch mat_scenario:=senario3 shp_scenario:=senario3 -->
    <arg name="mat_scenario" default="senario" />
    <arg name="shp_scenario" default="HDMap_Oido_New" />

    <!-- MQTT broker 선택: prod = 시흥시 VPN 사설망 실제 서버, test = 인터넷 테스트 서버.
         siheung.launch 로 그대로 전달. 예) roslaunch launch/katech_test.launch mqtt_server:=prod -->
    <arg name="mqtt_server" default="prod" />

    <param name="EPSG" value="5179" />

    <!-- 맵 경로 설정 (각 arg에 따라 자동 변경) -->
    <param name="MAPFILE_PATH"
          value="$(find gps_system_localizer)/mapfiles/$(arg mat_scenario)" />
    <param name="SHP_MAP_PATH"
          value="$(find gps_system_localizer)/src/shp_map/$(arg shp_scenario)" />

   <group ns="sensors/gps">
        <include file="$(find novatel_gps_driver)/launch/tester_for_usb_eq.launch">
        </include>
    </group>

    <node pkg="tf2_ros"                 type="static_transform_publisher" name="gps2base_link" args="0.0 0.0 -1.5 0.0 0.0 0.0 gps base_link" />

    <!-- for gps/ins 50hz -->
    <node name="gps_to_pose_2d_node"               type="gps_world_tf_node_send_host_gps" pkg="gps_world_tf" respawn="true"/>
    <!-- <node pkg="gps_world_tf"            type="sat_to_rviz"                  name="sat_pub"                   respawn="true"/> -->
    <node pkg="gps_system_localizer"            type="to_control_team_demo.py"            name="to_control_team_node"         respawn="true" output="screen"/>

<!--차량 모션 기반 경로 생성기 -->

  <node name="CAN_channel_initializer"       type="CAN_channel_initializer"       pkg="can" />

  <node name="chassis_CAN_reader"            type="chassis_CAN_reader"            pkg="can"  respawn="true" />
  <node name="front_RADAR_CAN_reader"            type="front_RADAR_CAN_reader"            pkg="can"  respawn="true" />
  <node name="percept_topic_matcher"       type="percept_topic_matcher"     pkg="can"  respawn="true" />
  <node name="local_CAN_writer"       type="local_CAN_writer" pkg="can" respawn="true"/>
  <node name="vision_CAN_reader"             type="vision_CAN_reader"             pkg="can"  respawn="true" /> 
  <node name="IONIQ_CAN_reader"             type="IONIQ_CAN_reader"             pkg="can"  respawn="true" /> 
  <node name="cpt7_topic_matcher"       type="cpt7_topic_matcher"     pkg="can"  respawn="true" />
  <node name="cpt7_CAN_writer"       type="cpt7_CAN_writer"     pkg="can"  respawn="true" />

  <node name="track_CAN_writer_no_grid"       type="track_CAN_writer_no_grid"     pkg="can"  respawn="true" />

  <!-- <node name="katri_v2x_node"       type="katri_obu_interface_node"     pkg="katri_obu_interface"  respawn="true" /> -->
  <node name="spat_CAN_writer"       type="spat_CAN_writer"     pkg="can"  respawn="true" />

  <!-- KATRI에서는 OFF-->
  <!-- siheung_v2x_node + bsm_tx_node 는 siheung.launch 로 분리 -->
  <include file="$(dirname)/siheung.launch">
    <arg name="mqtt_server" value="$(arg mqtt_server)" />
  </include>

  <node pkg="can"          type="katech_ped_detector.py"          name="katech_ped_detector_node"             respawn="true" />
  <node name="katech_ped_detector_can_writer_node"       type="ped_detector_can_writer"     pkg="can"  respawn="true" />
  <node pkg="can"          type="crosswalk_ped_fusion.py"          name="crosswalk_ped_fusion_node"            respawn="true" output="screen" />
  <!-- <node  name="my_rviz"  type="rviz"  pkg="rviz"  args="-d $(arg sweet_home)/mcar_v9/workspace_config/perception.rviz"/> -->
  
</launch>