<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="sweet_home" default="$(optenv HOME)" />

    <param name="EPSG" value="5179" />

    <node name="siheung_v2x_node"       type="siheung_v2x_node"     pkg="siheung_v2x"  respawn="true" />
    <!-- pyqt_hmi launch 파일 포함 -->
    <include file="$(find pyqt_hmi)/launch/pyqt_hmi.launch" />
</launch>